node_modules/
dist/
*.backup*
*.bak
*.old
*_backup*
*_BACKUP*
48H_FILM_DESK_cleaned.html
48H_FILM_DESK.before-script-fix.html
48H_FILM_DESK_before_export_fix.html
48H_FILM_DESK_before_export_v3_20261008_221937.html
48H_FILM_DESK_casse_export_20261008.html
main.js_before_*.js
48H_FILM_DESK_avant_*.html
server/data.json
